/* General Reset */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f7cad0;
    color: #0b132b;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Header */
  .contact-header {
    background-color: #fae0e4;
    color: #0b132b;
    text-align: center;
    padding: 50px 20px;
  }
  
  .contact-header h1 {
    font-size: 2.5rem;
  }
  
  .contact-header p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  /* Contact Section */
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 50px 20px;
  }
  
  .contact-info, .contact-form {
    background: rgb(241, 227, 234);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    max-width: 400px;
    flex: 1;
    box-shadow: 0 5px 15px rgba(255, 99, 71, 0.5);
  }
  
  .contact-info h2, .contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin: 10px 0;
    line-height: 1.6;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9bec7;
    color: #0b132b;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border-color: #ff4500;
  }
  
  .contact-form button {
    background: linear-gradient(135deg, #ff85a1, #ff99ac);
    color: #0b132b;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 5px 15px rgba(255, 99, 71, 0.5);
  }
  
  .contact-form button:hover {
      background: linear-gradient(135deg, #ff99ac, #ff0a54);
      transform: translateY(-5px);
      box-shadow: 0 10px 20px #0b132b;
  }
  
  /* Social Icons */
  .social-icons {
    display: flex;
    gap: 35px;
    margin-top: 20px;
    align-items: center;
    font-size: 30px;
  }

  .social-icons .fa-twitter:hover{
    color:#1EA1F2;
    
  }
  .social-icons .fa-facebook-f:hover{
    color: #15A9FC;
  }
  .social-icons .fa-instagram:hover{
    background: linear-gradient(45deg,  #f9ce34, #ee2a7b, #6228d7);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Footer */
  .contact-footer {
    text-align: center;
    padding: 20px;
    background-color: #fae0e4;
    color: #0b132b;
    margin-top: 50px;
  }
  