<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - VibeSpace</title>
    <link rel="stylesheet" href="../css/loginSignup.css">
</head>
<body>
    <div class="container">
        <div class="login-form">

            <h2 class="headline">
            <span>Login</span>
              <span id="darkmode-icon">
                <span id="di-inner" class="material-symbols-outlined">light_mode</span>
              </span> 
            </h2>

            <form id="login-form" action="./dashboard.html">

                <input type="text" id="username" name="username" placeholder="Email" />
                <input type="password" id="password" name="password" placeholder="Password" />

                <div>
                  <input type="submit" value="Login"> 
                  <!-- TODO: add forgot password page -->
                  <a href="#"> Forgot Password?</a>
                </div>

                <div class="login-or">
                  <span class="login-saperator"></span>
                  <span>Or Login with</span>
                  <span class="login-saperator"></span>
                </div>

                <div class="logwith">
                  <img draggable=false class="login-google" src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="" />
                  <img draggable=false class="login-facebook" src="https://img.icons8.com/?size=100&id=uLWV5A9vXIPu&format=png&color=000000" alt="" />
                  <img draggable=false class="login-microsoft" src="https://img.icons8.com/?size=100&id=22989&format=png&color=000000" alt="" />
                  <img draggable=false class="login-twitter" src="https://img.icons8.com/?size=100&id=yoQabS8l0qpr&format=png&color=000000" alt="" />
                </div>

            </form>
            <p>Don't have an account? <a href="./signup.html">Sign Up</a></p>
        </div>
    </div>
  <script src="../js/darkmode.js"></script>
</body>
</html>
