<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Upload Page</title>
    <link rel="stylesheet" href="./css/upload.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <span class="logo-text">VibeSpace</span>
            </a>
        </nav>
    </header>
    <main>
        <section class="upload-section">
            <div class="media-type-selection">
                <ul>
                    <li><a href="#" class="active">DETAILS</a></li>
                </ul>
            </div>
            <form class="media-upload-form">
                <input type="text" id="caption" placeholder="Name of the Host">
                <input type="text" id="tags" placeholder="Event Name">
                <input type="text" id="location" placeholder="Description">
                <input type="text" id="tags" placeholder="Address of the Venue">
                <input type="text" id="location" placeholder="Contact No.">
                <select id="privacy">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
        
            </form>
            <div class="uploader">
                <label for="fileInput">Choose a file</label>
                <input type="file" id="fileInput" />
                <div class="file-name" id="fileName">No file chosen</div>
               
            </div>
            <button class="upload-btn">Upload</button>
        </section>
    </main>
    <script src="../js/upload.js"></script>
</body>
</html>